#### np.where #Titanic
___ 
Often, writeups on the **#Titanic** dataset use the *if ... condition* to impute average values, typically for age.  
In my [Medium](https://medium.com/@AKayode_research/np-where-the-titanic-83bdc0a16b11) post,  
I attempted using ***np.where*** to impute missing NaN/null value. The trick is the *nested np.where*  

NB: Here, I used a dynamically generated data as a proxy for the #titanic dataset.

In [1]:
## import libraries
import pandas as pd
import numpy as np

In [2]:
## create data (in lieu of the Titanic dataset)
A = np.arange(20, 30, 3) #This will create a list with 4 elements (needed to ensure at least one NaN)

B1 = np.arange(3,6)
#Generate a 5 x 1 array* of ints between 1 and 3, inclusive:
B_add = np.random.default_rng().integers(1,4, size=(5))
B = np.append(B1, B_add) #concatenate or vstack for scalar
print(f'A: {A} | B: {B}')

## create dataframe, transposed, and check the created data
cols_test = pd.DataFrame([A,B]).T
cols_test[1] = cols_test[1].astype(int) #Ensure the pclass column is int
cols_test

A: [20 23 26 29] | B: [3 4 5 1 1 2 3 3]

      0  1
0  20.0  3
1  23.0  4
2  26.0  5
3  29.0  1
4   NaN  1
5   NaN  2
6   NaN  3
7   NaN  3

In [3]:
## define function to check NaN/null age and assign age
def impute_age(cols):
    age = cols[0] # assign first column to age Series
    #print(f'age: {age}') #debug
    age1 = cols.loc[:,0] # assign first column to age Series
    #print(f'age1: {age1}') #debug
    pclass = cols.loc[:,1] # why compare operator instead of assign | pclass == cols[1]
    
    '''
    age_null = np.where((cols[0].isnull()) & (cols[1]==1), 37,
                        np.where((cols[0].isnull()) & (cols[1]==2), 39,
                        np.where((cols[0].isnull()) & (cols[1] != (1 | 2)), 24,   
                                  cols[0]))).astype(int)
    '''

    ## nested np.where
    age_null = np.where((cols[0].isnull()) & (cols[1]==1), 37,
                        np.where((cols[0].isnull()) & (cols[1]==2), 39,
                        np.where((cols[0].isnull()) & (np.logical_or(cols[1] != 1, cols[1] != 2)), 24,   
                                  cols[0]))).astype(int)

    print(f'age col[0]: \n{age_null}')

In [4]:
impute_age(cols_test)

age col[0]:
[20 23 26 29 37 39 24 24]

In [5]:
## =============== =============== ##
#        Below Caveat Emptor        #
## =============== =============== ##

In [6]:
## SyntaxWarning: "is not" with a literal. Did you mean "!="?

## define function to check NaN/null age and assign age
def impute_age1(cols):
    age = cols[0] # assign first column to age Series
    #print(f'age: {age}') #debug
    age1 = cols.loc[:,0] # assign first column to age Series
    #print(f'age1: {age1}') #debug
    pclass = cols.loc[:,1] # why compare operator instead of assign | pclass == cols[1]

    ## nested np.where
    age_null1 = np.where((cols[0].isnull()) & (cols[1]==1), 37,
                        np.where((cols[0].isnull()) & (cols[1]==2), 39,
                        np.where((cols[0].isnull()) & (cols[1] is not (1 | 2)), 24,   
                                  cols[0]))).astype(int)

    print(f'age col[0]: \n{age_null1}')
    
impute_age1(cols_test)

age col[0]:
[20 23 26 29 37 39 24 24]

<>:14: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:14: SyntaxWarning: "is not" with a literal. Did you mean "!="?
C:\Users\kayode\AppData\Local\Temp/ipykernel_122456/15754399.py:14: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  np.where((cols[0].isnull()) & (cols[1] is not (1 | 2)), 24,

In [7]:
## SyntaxWarning:  || err: -9223372036854775808 | -2147483648 due to NaN/null 

## define function to check NaN/null age and assign age
def impute_age2(cols):
    age = cols[0] # assign first column to age Series
    #print(f'age: {age}') #debug
    age1 = cols.loc[:,0] # assign first column to age Series
    #print(f'age1: {age1}') #debug
    pclass = cols.loc[:,1] # why compare operator instead of assign | pclass == cols[1]
    

    ## nested np.where
    age_null2 = np.where((cols[0].isnull()) & (cols[1]==1), 37,
                        np.where((cols[0].isnull()) & (cols[1]==2), 39,
                        np.where((cols[0].isnull()) & (cols[1] != (1 | 2)), 24,   
                                  cols[0]))).astype(int)

    print(f'age col[0]: \n{age_null2}')
    
impute_age2(cols_test)

age col[0]:
[         20          23          26          29          37          39
 -2147483648 -2147483648]

In [8]:
## SyntaxWarning:  || err: -9223372036854775808 | -2147483648 (depends on Python version/interpreter)

## define function to check NaN/null age and assign age
def impute_age3(cols):
    age = cols[0] # assign first column to age Series
    #print(f'age: {age}') #debug
    age1 = cols.loc[:,0] # assign first column to age Series
    #print(f'age1: {age1}') #debug
    pclass = cols.loc[:,1] # why compare operator instead of assign | pclass == cols[1]

    ## nested np.where || err: -9223372036854775808
    age_null3 = np.where((cols[0].isnull()) & (cols[1]==1), 37,
                        np.where((cols[0].isnull()) & (cols[1]==2), 39,
                        np.where((cols[0].isnull()) & (cols[1].ne(1 | 2)), 24,   
                                  cols[0]))).astype(int)
    
    print(f'age col[0]: \n{age_null3}')
    
impute_age3(cols_test)

age col[0]:
[         20          23          26          29          37          39
 -2147483648 -2147483648]

In [9]:
## ValueError: The truth value of a Series is ambiguous

## define function to check NaN/null age and assign age
def impute_age4(cols):
    age = cols[0] # assign first column to age Series
    #print(f'age: {age}') #debug
    age1 = cols.loc[:,0] # assign first column to age Series
    #print(f'age1: {age1}') #debug
    pclass = cols.loc[:,1] # why compare operator instead of assign | pclass == cols[1]

    ## nested np.where
    age_null4 = np.where((cols[0].isnull()) & (cols[1]==1), 37,
                        np.where((cols[0].isnull()) & (cols[1]==2), 39,
                        np.where((cols[0].isnull()) & (cols[1] != 1 | cols[1] != 2), 24,   
                                  cols[0]))).astype(int)

    print(f'age col[0]: \n{age_null4}')

impute_age4(cols_test)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().